# SQL (MySQL)

### To be a good data scientist you will need some SQL skills. Below is some example SQL code to run in the Database Client.

### If you have a good working knowledge of SQL already, setup an RDS instance on AWS and load in the titanic dataset. 
http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_GettingStarted.html

In [2]:
/* The SELECT Statement */
USE classicmodels;

SELECT * FROM employees;


SELECT lastname,
       firstname,
       jobtitle
FROM employees;

/* Also select the extension column from the employee table */

SyntaxError: invalid syntax (<ipython-input-2-23998d44c64b>, line 1)

In [3]:

/* The WHERE clause */
SELECT * 
FROM employees
WHERE jobTitle = 'President';

/*
- Get all of the employees that are Sales Reps
- Get all the employees that report to ‘1143’ 
*/

SyntaxError: invalid syntax (<ipython-input-3-a521583db776>, line 2)

In [4]:
/*
- Return all employees that report to 1143 and have an office code 1
- Return all employees that report to 1143 or have an office code 1
*/

SyntaxError: invalid syntax (<ipython-input-4-cc1db5c0f820>, line 1)

In [5]:
/* The ORDER BY Clause */

SELECT * 
FROM products
ORDER BY buyPrice;

/*
Try and order the list by the most expensive to cheapest by typing ‘DESC’ after buyPrice 
*/

SyntaxError: invalid syntax (<ipython-input-5-918bf7b7d2a2>, line 1)

In [6]:
/* The GROUP BY Clause */
SELECT productLine
FROM products;

/* 
This returns the product line for every single row in the product table. Let’s try grouping them. 
*/

SyntaxError: invalid syntax (<ipython-input-6-994a9c34f2b0>, line 1)

In [ ]:
/*This returns the unique values of the product line. How many different products do they have in each product line? */
SELECT productLine, count(*)
FROM products
GROUP BY productLine;

/* The JOIN Statement */
SELECT c.customerNumber,
       c.customerName,
       orderNumber, 
       o.status
FROM customers AS c
LEFT JOIN orders AS o ON c.customerNumber = o.customerNumber